.cardGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  height: 400px;
  padding-top: 1em ;
  gap: 1.5rem;

}
.card {
  display: flex ;
  flex-direction: column;
  width: 40%;
  height: auto;
  justify-self: center;
  border: 1px black solid;
  background-color: rgb(245, 201, 143);
  padding : 1.5rem;
  gap: 1.5em;
  align-items: center;

}
.name {

    align-self: center;
    font-size:x-large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
.card img {
    width : 75%;

}
.class {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
.hobby {
    word-spacing: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
